{% extends 'base.html.twig' %}

{% block body %}
<div class="card-group">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Ventes flash</h5>
      <p class="card-text">{% for p in venteflash %}
    {% include 'default/card.html.twig' %}
{% endfor %}</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Promo</h5>
      <p class="card-text">{% for p in promo %}
    {% include 'default/card.html.twig' %}
{% endfor %}</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Top vente</h5>
      <p class="card-text">{% for p in topvente %}
    {% include 'default/card.html.twig' %}
{% endfor %}</p>
    </div>
  </div>
</div>



{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}

