{% extends 'base.html.twig' %}

{% block body %}

<h1>Les promos tombées du camion !</h1>
    <h2>Ventes flash</h2>

{% for p in venteflash %}
    {% include 'default/card.html.twig' %}
{% endfor %}

    <h2>Promos</h2>
{% for p in promo %}
    {% include 'default/card.html.twig' %}
{% endfor %}

    <h2>Meilleurs ventes</h2>
{% for p in topvente %}
    {% include 'default/card.html.twig' %}
{% endfor %}

{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}

