{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col">
    <h2>Ventes flash</h2>

{% for p in venteflash %}
    {% include 'default/card.html.twig' %}
{% endfor %}
</div>
    </div>
    <div class="row">
    <div class="col">
    <h2>Promos</h2>
{% for p in promo %}
    {% include 'default/card.html.twig' %}
{% endfor %}
    </div>
</div>
<div class="row">
    <div class="col">

    <h2>Meilleurs ventes</h2>
{% for p in topvente %}
    {% include 'default/card.html.twig' %}
{% endfor %}
    </div>
</div>
  </div>
</div>




{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}

