{% extends 'base.html.twig' %}
{% block body %}

<div id="pute" name="pute">
    {% for u in user %}
    	user {{ u.username }} Email {{ u.email }} :
    {{ dump(u) }}
        {{ u.username }}
    {% endfor %}
</div>

{% endblock %}

{% block stylesheets %}
    <style>

    </style>
{% endblock %}


