body {
    font-family: Helvetica;
}

#pute {
    margin-top: 2%;
    margin-bottom:2%;
     margin-left:30%;
     margin-right:30%;

}
.LoginForm {
    padding:20px;
    background-color:white;
        margin-top:4%;
margin-left: 40%;
    box-sizing: border-box;
margin-right:45%;
border: solid #ffdc6e 10px;
text-align: center;
padding-left:20px;
padding-bottom: 10px;
}
.testou {
    box-sizing: border-box;
width: 100%;
border: solid #ffdc6e 10px;
padding: 10px;


}
@media (max-width: 480px) {
    #pute {
        top: 50%; /* IMPORTANT */
        left: 50%; /* IMPORTANT */
        display: block;
        position: absolute;
        background: url(images/background.png) no-repeat center center;
        width: 750px;
        height: 417px;

        margin-top: -208.5px; /* HALF OF THE HEIGHT */
        margin-left: -375px; /* HALF OF THE WIDTH */
    }
}