
#SearchProductName {
    padding-top:5px;
}

#SearchQuantity {
    padding-bottom:5px;
    border-bottom: solid #ffdc6e 10px;
}
#recherche {

    text-align: center;
border: solid #ffdc6e 10px;
}

#Filtre {
    text-align: center;
border: solid #ffdc6e 10px;
}

#searchPage {
    border-top: 1px solid #bbb;
}
#search {
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    cursor: default;
}

#pute {
    margin-top: 2%;
    margin-bottom:2%;
     margin-left:30%;
     margin-right:30%;
}
#recherche {
    margin-left: 50px;
}
#form_Recherche{
    background-color:green;
}
.LoginForm {
    padding:20px;
    background-color:white;
        margin-top:4%;
margin-left: 40%;
    box-sizing: border-box;
margin-right:45%;
border: solid #ffdc6e 10px;
text-align: center;
padding-left:20px;
padding-bottom: 10px;
}
.testou {
    box-sizing: border-box;
width: 100%;
border: solid #ffdc6e 10px;
padding: 10px;


}

.border {
    border-bottom: solid #ffdc6e 10px; 
}
